body
{
    background-image: url(/images/whitebackground2.jpg);
    width: 100%;
    margin: 0;
    padding: 0;
}

header
{
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 50px;
}

.main-nav li
{
    display: inline-block;
    position: relative;
}

.main-nav li a
{
    color: purple;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.main-nav li ul
{
    display: none;
    position: absolute;
    padding: 8px;
    border-radius: 0px 0px 4px 4px; 
}

.main-nav li:hover ul
{
    display: block;
}

.main-nav li ul li 
{
    width:100px;
    border-radius: 4px;
}

.main-nav li ul li a
{
  padding: 0px 0px;  
}

.main-nav li ul li a:hover
{
color: darkorange;
}
.active, main-nav li:hover
{
    border-radius:3px ;
}

.main-nav  li a:hover
{
   color: darkorange;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
}

.about-section {
  width: 100%;
    padding: 40px 0;
    top: 20%;
    height: 420px;
    margin-top: 90px;
    position: absolute;
    box-sizing: border-box;
    transition: 0.3s linear;
    margin: auto;
}

.inner-width {
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
}

.about-section h1 {
 text-align: center;
    color: purple;
}

.border {
    width: 100px;
    height: 3px;
    background: purple;
    margin: 40px auto;
}

.about=section-row {
    display: flex;
    flex-wrap: wrap;
}

.about-section-col {
   flex: 50%; 
}

.about {
    padding-right: 30px;
}

.about p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20;
    color: purple;
}

.about a {
    display: inline-block;
    color: purple;
    text-decoration: none;
    border-radius: 24px;
    padding: 8px 40px;
    transition: 0.3s linear;
    
}

.about a:hover{
  color: black;
    background: purple;
}

.container {
    font-family: 'Poppins', sans-serif;
    font-weight: ;
    color: purple;
    border:  purple;
    width: 150px;
    padding: 1px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 90px;
    position: absolute;
    margin-left: 190px;
    margin: auto;
    border-radius: 7px;
    box-sizing: border-box;
    top: 2%;
    left: 0.%;
}






