body
{
    background-image: url(/images/whitebackground2.jpg);
    width: 100%;
    margin: 0;
    padding: 0;
}


header
{
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 50px;
}

.main-nav li
{
    display: inline-block;
    position: relative;
}

.main-nav li a
{
    color: purple;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.main-nav li ul
{
    display: none;
    position: absolute;
    padding: 8px;
    border-radius: 0px 0px 4px 4px; 
}

.main-nav li:hover ul
{
    display: block;
}

.main-nav li ul li 
{
    width:100px;
    border-radius: 4px;
}

.main-nav li ul li a
{
  padding: 0px 0px;  
}

.main-nav li ul li a:hover
{
   
}
.active, main-nav li:hover
{
    border-radius:3px ;
}

.main-nav  li a:hover
{
   color: darkorange;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
}


.box {
    width: 320px;
    margin: auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 4px rgba(0,0,0);
    box-sizing: border-box;
    padding: 1px;
    margin-top: 90px;
    position: absolute;
    top: 0.1%;
    left: 30%;
    
        
}

.box .heading {
  background: #7800CF;
   border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.faqs {
    padding: 0px 20px 20px;
}

::-webkit-details-marker {
    float: right;
    margin-top: 3px;
}

details {
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

details summary {
 outline: none;   
}


.container {
    font-family: 'Poppins', sans-serif;
    font-weight: ;
    color: purple;
    border:  purple;
    width: 150px;
    padding: 1px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 90px;
    position: absolute;
    margin-left: 190px;
    margin: auto;
    border-radius: 7px;
    box-sizing: border-box;
    top: 2%;
    left: 0.%;
}


















