body
{
    background-image: url(/images/whitebackground2.jpg)
    width: 100%;
    margin: 0;
    padding: 0;
}

header
{
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 30px;
}

.main-nav li
{
    display: inline-block;
    position: relative;
}

.main-nav li a
{
    color: purple;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.main-nav li ul
{
    display: none;
    position: absolute;
    padding: 8px;
    border-radius: 0px 0px 4px 4px; 
}

.main-nav li:hover ul
{
    display: block;
}

.main-nav li ul li 
{
    width:100px;
    border-radius: 4px;
}

.main-nav li ul li a
{
  padding: 0px 0px;  
}

.main-nav li ul li a:hover
{
   
}
.active, main-nav li:hover
{
    border-radius:3px ;
}

.main-nav  li a:hover
{
    color: darkorange;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
}

.wrap{
    
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: white;
    box-sizing: border-box;
    padding: 20px;
    color: purple;
    margin-top: 90px;
    height: 443;
    position: absolute;
    top: 0%;
    left: 30%;
    
}


.address {
    height: 70px;
}



h2 {
    text-align: center;
    font-size: 30;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 3px dotted #fff;
    color: black;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

input[type=submit] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px; 
    margin-top: 25px;
    outline: none;
    border: none;
    background-color: plum;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: purple;
    transition: 0.3s linear;
}

input[type=submit]:hover {
    background: purple;
    opacity: 0.7;
    color: black;
}

.container {
    font-family: 'Poppins', sans-serif;
    font-weight: ;
    color: purple;
    border:  purple;
    width: 150px;
    padding: 1px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 90px;
    position: absolute;
    margin-left: 190px;
    margin: auto;
    border-radius: 7px;
    box-sizing: border-box;
    top: 2%;
    left: 0.%;
}




